@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Suporte:</strong> <a href="mailto:gst203002@gmail.com">gst203002@gmail.com</a>
    <br />
    <strong>Desenvolvimento:</strong> <a href="https://github.com/gstx2000">Gabriel dos Santos Toledo</a> 

</address>
