@model LoginViewModel

<h2>Login</h2>
<form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username">Email</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Senha</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="RememberMe" /> Lembrar
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <a class="btn btn-primary" asp-action="Register">Registrar usuário</a>
    <br />
    <br />

    <a asp-action="PasswordRecovery">Esqueci minha senha</a>

</form>
