@model string

@{
    ViewData["Title"] = "Erro ao alterar senha";
}

<h2>@ViewData["Title"]</h2>

<p>Ocorreu um erro ao tentar alterar a senha. Tente novamente ou contacte o suporte.</p>
    <p>@Model</p>


<a asp-controller="Users" asp-action="Login">Voltar</a>
