@model WebSalesMvc.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Alterar senha";
}

<h2>@ViewData["Title"]</h2>


@if (!ViewData.ModelState.IsValid)
{
    <p>Usuário ou token invalido. Tente novamente.</p>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}

    <form asp-controller="Users" asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Token" />

        <div class="form-group">
            <label for="NewPassword">Nova senha:</label>
            <input type="password" id="NewPassword" name="NewPassword" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="ConfirmPassword">Confirme a senha:</label>
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required />
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Alterar senha</button>
    </form>

<br />

<a asp-controller="Users" asp-action="Login">Cancelar</a>
