@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Users" asp-action="Logout" method="post" id="logoutForm">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-link">Logout</button>
    </form>
}
